*.iml
.gradle
/local.properties
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/caches/
.idea/render.experimental.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/intellij-javadocs-4.0.1.xml
.idea/runConfigurations.xml
.idea/detekt.xml
.idea/codeStyles/*
.idea/deploymentTargetDropDown.xml
.idea/shelf/**
.idea/inspectionProfiles/*
.idea/kotlinc.xml
.idea/migrations.xml
.idea/gitlink.xml
.idea/deploymentTargetSelector.xml
.idea/AndroidProjectSystem.xml
.idea/gradle.xml
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
